%h1
  Permission for
  = resource.subject.email
  on
  = resource.item.name
= link_to_back
%hr

= simple_form_for [:admin, resource.item, resource] do |f|
  .row-fluid
    .col-md-6
      .well
        %fieldset
          %legend Permission
          = f.input :role, collection: Permission::ROLES

  .row-fluid
    .col-md-6
      .form-actions
        %button{type: 'submit', class: 'btn btn-primary'}
          = icon :ok
          Update Permission
        %button{type: 'reset', class: 'btn btn-danger'}
          = icon :remove
          Reset Form
