.page-header
  %h1
    Permissions for
    = parent.name
  .btn-toolbar
    .btn-group
      = link_to_back
      - if can? :create, :permission
        = link_to_create [:new, :admin, parent, :permission]

%p
  Got
  = pluralize(collection.count, 'permission')

%table.table.table-striped
  %thead
    %th Mailbox
    %th Role
    %th
  %tbody
    = render collection
