%tr
  %td= link_to_domain domain
  %td= link_to domain.mailboxes.count, [:admin, domain, :mailboxes]
  %td= link_to domain.aliases.count, [:admin, domain, :aliases]
  %td= link_to_alias_or_mailbox domain.catch_all_address
  %td
    - if can? :destroy, domain
      = link_to [:admin, domain], method: :delete, confirm: 'Are you really sure? This will delete all mailboxes and aliases of this domain, too.', class: 'btn btn-mini btn-danger' do
        = content_tag :i, nil, class: 'icon-trash icon-white'
