%h1= resource.name
.btn-toolbar
  .btn-group
    = link_to_back
    = link_to admin_domain_mailboxes_path(resource), class: 'btn' do
      %i{class: 'icon-inbox'}
      = resource.mailboxes.count
    = link_to admin_domain_aliases_path(resource), class: 'btn' do
      %i{class: 'icon-share-alt'}
      = resource.aliases.count
    = link_to_delete [:admin, resource]
%hr

= simple_form_for [:admin, resource] do |f|
  .row-fluid
    .span6
      .well
        %fieldset
          %legend General
          = f.input :id, disabled: true
          = f.input :name
          = f.input :description
          = f.input :backupmx, label: 'Backup MX'
          = f.input :active

      .well
        %fieldset
          %legend Counts
          .control-group
            = label_tag :mailboxes_count, 'Mailboxes', class: 'control-label'
            .controls
              = text_field_tag :mailboxes_count, resource.mailboxes.count, disabled: true
          .control-group
            = label_tag :aliases_count, 'Aliases', class: 'control-label'
            .controls
              = text_field_tag :aliases_count, resource.aliases.count, disabled: true

    .span6
      .well
        %fieldset
          %legend Timestamps
          = f.input :created_at, as: :string, disabled: true, hint: time_ago_in_words(resource.created_at)
          = f.input :updated_at, as: :string, disabled: true, hint: time_ago_in_words(resource.updated_at)

      .well
        %fieldset
          %legend Catch-All Alias
          = f.input :catch_all_address, label: 'Address'

  = render partial: 'shared/form_actions_update'
