.page-header
  %h1 Domains
  - if can? :create, :domain
    = link_to_create new_admin_domain_path

%p
  Got
  = pluralize domains.count, 'domain'

%table.table.table-striped
  %thead
    %th Name
    %th
      = icon :inbox
      Mailboxes
    %th
      = icon :share_alt
      Aliases
    %th
      = icon :certificate
      Permissions
    %th Catch-All
    %th
  %tbody
    = render collection
