.page-header
  %h1 Domains
  - if can? :create, :domain
    .btn-toolbar
      .btn-group
        = link_to_create [:new, :admin, :domain]
        %button.btn.btn-default.dropdown-toggle{data: {toggle: 'dropdown'}}
          Actions
          %span.caret
        %ul.dropdown-menu{role: 'menu'}
          %li
            = link_to 'Check MX records', [:check_mx_records, :admin, :domains], method: :post

%p
  Got
  = pluralize collection.count, 'domain'

%table.table.table-striped
  %thead
    %th Name
    %th
      = icon :inbox
      Mailboxes
    %th
      = icon :share_alt
      Aliases
    %th
      = icon :certificate
      Permissions
    %th Catch-All
    %th Active?
    %th MX?
    %th
  %tbody
    = render collection.all
