%h1 Create Domain
= link_to_back
%hr

= simple_form_for [:admin, resource], uri: admin_domains_path, method: :post do |f|
  .well
    %fieldset
      %legend General
      = f.input :name
      = f.input :description
      = f.input :backupmx, label: 'Backup MX'
      = f.input :active

  .form-actions
    %button{type: 'submit', class: 'btn btn-primary'}
      = icon :ok
      Create Domain
    %button{type: 'reset', class: 'btn btn-danger'}
      = icon :remove
      Reset Form
