%hr
%footer.container
  - if current_mailbox.try :admin?
    %p.text-right
      %code
        Last deployment was
        %span.tooltipp{title: About.last_deploy}
          = time_ago_in_words(About.last_deploy)
        ago
    %p.text-right
      %code= About.rails
      on
      %code= About.ruby
  %p.text-right
    = link_to 'Released', 'https://github.com/nning/moeil.git'
    under the terms of the
    = link_to 'AGPLv3', 'https://www.gnu.org/licenses/agpl-3.0.html'
