- if domains.quick_access.any?
  %li.dropdown{class: active_navigation('admin/' + model.to_s.pluralize)}
    = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
      = icon :plus
      New
      = model.to_s.capitalize
      %b.caret
    %ul.dropdown-menu
      - if current_mailbox.manager_of_address_domain? && model == :alias
        %li= link_to 'Create spam alias', new_admin_domain_alias_path(current_mailbox.domain, spam: true)
        %li.divider
      - domains.quick_access.each do |domain|
        %li= link_to domain.name, [:new, :admin, domain, model]
