.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %button.btn.btn-navbar{type: 'button', :'data-toggle' => 'collapse', :'data-target' => '.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to 'Møil', root_path, class: 'brand'

      .nav-collapse.collapse
        %ul.nav
          %li{class: active_navigation('passwords')}
            = link_to 'Generate password hash', password_path

          - if current_mailbox.try(:admin)
            %li{class: active_navigation('admin/domains')}
              = link_to 'Domains', admin_domains_path
            %li{class: active_navigation('admin/mailboxes')}
              = link_to new_admin_domain_mailbox_path(Domain.default) do
                = content_tag :i, nil, class: 'icon-plus icon-white'
                Mailbox

        - if signed_in?
          %ul.nav.pull-right
            %li{class: active_navigation('mailbox')}
              = link_to current_mailbox.email, edit_mailbox_path
            %li{class: active_navigation('devise/sessions')}
              = link_to 'Logout', destroy_mailbox_session_path, method: :delete
