%h1= resource.email
%hr

= simple_form_for [:admin, resource.domain, resource] do |f|
  .well
    %fieldset
      %legend Account Information
      = f.input :username
      = f.association :domain
      = f.input :name

  .well
    %fieldset
      %legend Change Password
      = f.input :password
      = f.input :password_confirmation, label: false

  .well
    %fieldset
      %legend Admin Options
      = f.input :admin
      = f.input :quota, hint: 'in Bytes'

  .form-actions
    %button{type: 'submit', class: 'btn btn-primary'}
      %i{class: 'icon-ok icon-white'}
      Update Mailbox
    %button{type: 'reset', class: 'btn btn-danger'}
      %i{class: 'icon-remove icon-white'}
      Reset Form
