%h1= resource.email
= link_to_back admin_domain_mailboxes_path(resource.domain)
%hr

= simple_form_for [:admin, resource.domain, resource] do |f|
  .well
    %fieldset
      %legend Account Information
      = f.input :id, disabled: true, label: 'ID'
      = f.input :username
      = f.association :domain
      = f.input :name

  .well
    %fieldset
      %legend Change Password
      %p.text-right
        = content_tag :code, resource.encrypted_password
      = f.input :password
      = f.input :password_confirmation, label: false

  .well
    %fieldset
      %legend Admin Options
      = f.input :active
      = f.input :admin
      = f.input :quota, hint: 'in Bytes'

  .well
    %fieldset
      %legend Timestamps
      = f.input :created_at, as: :string, disabled: true
      = f.input :updated_at, as: :string, disabled: true

  = render partial: 'shared/form_actions_update'
