.page-header
  %h1= resource.email
  .btn-toolbar
    .btn-group
      = link_to_back
      - if can? :destroy, resource
        = link_to_delete [:admin, parent, resource]

= simple_form_for [:admin, parent, resource] do |f|
  .row
    .col-md-6
      .well
        %fieldset
          %legend Account Information
          = f.input :id, disabled: true, label: 'ID'
          = f.input :username, hint: 'Note, that changing the username or domain currently requires manually moving the mail_location!'
          = f.association :domain, collection: domains.all, include_blank: false
          = f.input :name

      .well
        %fieldset
          %legend Change Password
          = f.input :password, hint: 'Leave blank, if you do not want to change it.'
          = f.input :password_confirmation, label: false

      = render partial: 'shared/mailbox_permissions'

    .col-md-6
      .well
        %fieldset
          %legend Miscellaneous
          = f.input :active
          = f.input :admin
          = f.input :quota, hint: 'in Kilobytes (KiB)'
          = f.input :mail_location

      .well
        %fieldset
          %legend Timestamps
          = f.input :created_at, as: :string, disabled: true, hint: time_ago_in_words(resource.created_at)
          = f.input :updated_at, as: :string, disabled: true, hint: time_ago_in_words(resource.updated_at)

  = render partial: 'shared/form_actions_update'

- if (aliases = resource.aliases).any?
  %h2 Aliases

  .well
    %p
      There are
      = aliases.count
      aliases pointing to this E-Mail address:

    - if current_mailbox.admin?
      %p
        - aliases.each do |a|
          = link_to a.email, edit_admin_domain_alias_path(a.domain, a)
    - else
      %p
        = aliases.map(&:email).join(', ')
