%h1 Create Mailbox
= link_to_back
%hr

= simple_form_for [:admin, resource.domain, resource] do |f|
  .row-fluid
    .span6
      .well
        %fieldset
          %legend Account Information
          = f.input :username
          = f.association :domain, collection: @domains
          = f.input :name

      .well
        %fieldset
          %legend Password
          = f.input :password
          = f.input :password_confirmation, label: false

    .span6
      .well
        %fieldset
          %legend Admin Options
          = f.input :active
          = f.input :admin
          = f.input :quota, hint: 'in Bytes'
          = f.input :mail_location

  .form-actions
    %button{type: 'submit', class: 'btn btn-primary'}
      %i{class: 'icon-ok icon-white'}
      Create Mailbox
    %button{type: 'reset', class: 'btn btn-danger'}
      %i{class: 'icon-remove icon-white'}
      Reset Form
