.page-header
  %h1 Create Mailbox
  = link_to_back

= simple_form_for [:admin, resource.domain, resource] do |f|
  .row
    .col-md-6
      .well
        %fieldset
          %legend Account Information
          = f.input :username
          = f.association :domain, collection: [resource.domain], include_blank: false, disabled: true
          = f.input :name

      .well
        %fieldset
          %legend Password
          = f.input :password
          = f.input :password_confirmation, label: false

    .col-md-6
      .well
        %fieldset
          %legend Miscellaneous
          = f.input :active
          = f.input :admin
          = f.input :quota, hint: 'in Kilobytes (KiB)'
          = f.input :mail_location

  .form-actions
    %button{type: 'submit', class: 'btn btn-primary'}
      = icon :ok
      Create Mailbox
    %button{type: 'reset', class: 'btn btn-danger'}
      = icon :remove
      Reset Form
