.page-header
  %h1= resource.email

= simple_form_for resource, url: resource_path, method: :put do |f|
  .row
    .col-md-6
      .well
        %fieldset
          %legend Account Information
          %p.text-right
            Your account was created #{time_ago_in_words resource.created_at} ago.
          = f.input :username, disabled: true, required: false
          = f.association :domain, disabled: true, required: false
          = f.input :name

      .well
        %fieldset
          %legend Quota
          - if current_mailbox.admin?
            = f.input :quota, hint: 'in Bytes'
          - else
            = f.input :quota, hint: 'in Bytes', disabled: true

    .col-md-6
      .well
        %fieldset
          %legend Change Password
          = f.input :current_password, hint: 'Your current password.'
          = f.input :password, hint: 'Leave blank, if you do not want to change it.'
          = f.input :password_confirmation, label: false

      = render partial: 'shared/mailbox_permissions'

  .form-actions
    %button{type: 'submit', class: 'btn btn-primary'}
      = icon :ok
      Update Mailbox
    %button{type: 'reset', class: 'btn btn-danger'}
      = icon :remove
      Reset Form

- if (aliases = resource.aliases).any?
  %h2 Aliases

  .well
    %p
      There are
      = aliases.count
      aliases pointing to your E-Mail address:

    - if current_mailbox.admin?
      %p
        - aliases.each do |a|
          = link_to a.email, edit_admin_domain_alias_path(a.domain, a)
    - else
      %p
        = aliases.map(&:email).join(', ')

%h2 Unhappy?

.well
  %p You can cancel your account here. It will not be recoverable.
  = link_to mailbox_path, class: 'btn btn-danger', method: :delete, confirm: 'Your account will not be recoverable, are you really sure? You were warned.' do
    = icon :thumbs_down
    Delete Account
