.page-header
  %h1= resource.email
  .btn-toolbar
    .btn-group
      = link_to_back
      - if can? :destroy, resource
        = link_to_delete [:admin, parent, resource]

= simple_form_for [:admin, resource.domain, resource] do |f|
  .row
    .col-md-12
      .well
        %fieldset
          %legend Redirection
          .col-md-6
            = f.input :id, disabled: true, label: 'ID'
            = f.input :username
            = f.association :domain
            = f.input :description
            = f.input :active
          .col-md-6
            = f.input :goto, input_html: { rows: 9 }, hint: 'A comma-seperated list of receiver addresses.'


    .col-md-6
      .well
        %fieldset
          %legend Timestamps
          = f.input :created_at, as: :string, disabled: true, hint: time_ago_in_words(resource.created_at)
          = f.input :updated_at, as: :string, disabled: true, hint: time_ago_in_words(resource.updated_at)

  = render partial: 'shared/form_actions_update'
