%h1 Aliases
= link_to_back admin_domains_path
%hr

%p
  Got
  = pluralize(collection.count, 'alias')

%table.table.table-striped
  %thead
    %th E-Mail Address
    %th Destination
    %th Active?
    %th
  %tbody
    - collection.each do |a|
      %tr
        %td= a.email
        %td= address_list(a.goto)
        %td= :no unless a.active
        %td
          = link_to admin_domain_alias_path(a.domain, a), method: :delete, confirm: 'Are you sure?', class: 'btn btn-mini btn-danger' do
            = content_tag :i, nil, class: 'icon-trash icon-white'
