%h1
  Aliases for
  = parent.name
.btn-toolbar
  .btn-group
    = link_to_back
    = link_to_create [:new, :admin, parent, :alias]
%hr

%p
  Got
  = pluralize(collection.count, 'alias')

%table.table.table-striped
  %thead
    %th E-Mail Address
    %th Destination
    %th Active?
    %th
  %tbody
    - collection.each do |a|
      %tr
        %td= link_to a.email, [:edit, :admin, a.domain, a]
        %td= address_list(a.goto)
        %td= :no unless a.active
        %td
          - if can? :destroy, a
            = link_to [:admin, a.domain, a], method: :delete, confirm: 'Are you sure?', class: 'btn btn-mini btn-danger' do
              = content_tag :i, nil, class: 'icon-trash icon-white'
