.page-header
  - if spam?
    %h1 Create Spam Alias
  - else
    %h1 Create Alias
  = link_to_back

= simple_form_for [:admin, resource.domain, resource] do |f|
  .row
    .col-md-12
      .well
        %fieldset
          %legend Redirection
          .col-md-6
            = f.input :username
            = f.association :domain, collection: [resource.domain], include_blank: false, disabled: true
            = f.input :description
            = f.input :active
          .col-md-6
            = f.input :goto, input_html: { rows: 9 }, hint: 'A comma-seperated list of receiver addresses.'

  .form-actions
    %button{type: 'submit', class: 'btn btn-primary'}
      = icon :ok
      Create Alias
    %button{type: 'reset', class: 'btn btn-danger'}
      = icon :remove
      Reset Form
