.page-header
  %h1 Create Alias
  = link_to_back

= simple_form_for [:admin, resource.domain, resource] do |f|
  .row-fluid
    .col-md-6
      .well
        %fieldset
          %legend Redirection
          = f.input :username
          = f.association :domain
          = f.input :goto, hint: 'A comma-seperated list of receiver addresses.'
          = f.input :description

    .col-md-6
      .well
        %fieldset
          %legend Admin Options
          = f.input :active

  .form-actions
    %button{type: 'submit', class: 'btn btn-primary'}
      = icon :ok
      Create Alias
    %button{type: 'reset', class: 'btn btn-danger'}
      = icon :remove
      Reset Form
