.page-header
  %h1 Create Alias
  = link_to_back

= simple_form_for [:admin, resource.domain, resource] do |f|
  .row
    .col-md-12
      .well
        %fieldset
          %legend Redirection
          .col-md-6
            = f.input :username, wrapper: :append do
              = f.input_field :username, class: 'randomize'
              = content_tag :span, class: 'input-group-btn' do
                = link_to icon(:random), '#', class: 'btn btn-default randomize'
            = f.association :domain, collection: managable_domains, include_blank: false
            = f.input :description
            = f.input :active
          .col-md-6
            = f.input :goto, input_html: { rows: 9 }, hint: 'A comma-seperated list of receiver addresses.'

  .form-actions
    %button{type: 'submit', class: 'btn btn-primary'}
      = icon :ok
      Create Alias
    %button{type: 'reset', class: 'btn btn-danger'}
      = icon :remove
      Reset Form
