!!! 5

%head
  %title= content_for?(:title) ? yield(:title) : 'Møil'
  
  %meta{ charset: 'utf-8' }
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

  = stylesheet_link_tag 'application'
  = csrf_meta_tag

  %link{rel: 'shortcut icon', href: 'images/favicon.png'}

%body
  = render partial: 'shared/navigation'

  .container-fluid
    .row-fluid
      = render partial: 'shared/flash_messages'
    .row-fluid
      = yield

    %hr
    %footer
      %p
        Released under the terms of the AGPLv3.

  = javascript_include_tag 'application'
