!!! 5

%head
  %title= content_for?(:title) ? yield(:title) : 'Møil'
  
  %meta{ charset: 'utf-8' }
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

  = stylesheet_link_tag 'application'
  = javascript_include_tag 'vendor/custom.modernizr'
  = csrf_meta_tag

%body
  = render partial: 'shared/navigation'

  .row
    - flash.each do |type, message|
      %div{class: "alert-box #{type}"}= message

  .row
    = yield

  = javascript_include_tag 'application'
